<div class="mail-sidebar">

  <header class="mail-sidebar__header">

    <a
      class="brand"
      href="/home"
      aria-label="Barmanasin Mail"
    >

      <img class="brand__mark" src="/assets/logo/ChatGPT Image Aug 19, 2026, 01_05_40 PM.png" alt="">

      <span class="brand__identity">
        <strong>BARMANASIN</strong>
        <small>MAIL</small>
      </span>
    </a>

  </header>


  <div class="mail-sidebar__compose">

    <button
      type="button"
      class="compose-button"
      (click)="openCompose()"
    >
      <span>
        Compose
      </span>

      <ion-icon
        name="create-outline"
        aria-hidden="true"
      ></ion-icon>
    </button>

  </div>


  <nav
    class="mail-sidebar__navigation"
    aria-label="Mailbox folders"
  >

  <span class="navigation-label">
    MAILBOX
  </span>


    @for (
      folder of folders;
      track folder.id
      ) {


      <button
        type="button"
        class="navigation-item"
        [class.navigation-item--active]="activeFolder() === folder.id"
        (click)="selectFolder(folder.id)"
      >


      <span class="navigation-item__main">

        <ion-icon
          [name]="folder.icon"
          aria-hidden="true"
        ></ion-icon>


        <span>
          {{ folder.label }}
        </span>

      </span>



        @if (badge(folder.id).total) {

          <span class="navigation-item__badges">

    <small>
      {{ badge(folder.id).total }}
    </small>


            @if (badge(folder.id).unread > 0) {

              <b>
        {{ badge(folder.id).unread }}
      </b>

            }

  </span>

        }


      </button>


    }


  </nav>


  <footer class="mail-sidebar__footer">

    <div class="infrastructure-status">

      <span class="infrastructure-status__dot"></span>

      <span>
        Mail infrastructure online
      </span>

    </div>

    <span class="mail-sidebar__domain">
      MAIL.BARMANASIN.COM
    </span>

  </footer>

</div>
