<div class="mail-topbar">

  <div class="mail-topbar__context">

    <span class="context-index">
      01
    </span>

    <div class="context-copy">

      <strong>
        Inbox
      </strong>

      <span>
        Barmanasin Mail
      </span>

    </div>

  </div>



  <button
    type="button"
    class="mail-topbar__search"
    (click)="openSearch()"
    aria-label="Search mail"
  >

    <ion-icon
      name="search-outline"
      aria-hidden="true"
    ></ion-icon>


    <span>
    Search mail
  </span>


    <kbd>
      /
    </kbd>

  </button>

  <div class="mail-topbar__account">

    <button
      type="button"
      class="account-button"
      (click)="openAccount()"
      aria-label="Open account options"
      aria-controls="mail-account-panel"
      [attr.aria-expanded]="isAccountOpen()"
      [disabled]="isLoggingOut()"
    >

  <span class="account-avatar">

  @if (avatarUrl() && !avatarFailed()) {
    <img
      [src]="avatarUrl()"
      alt=""
      (error)="avatarFailed.set(true)"
    />
  } @else {
    {{ initials() }}
  }

</span>

      <span class="account-copy">

      <strong>
        {{ userName() || 'Mail account' }}
      </strong>

      <small>
        {{ mailboxAddress() || 'Loading account...' }}
      </small>

    </span>

      <ion-icon
        class="account-chevron"
        name="chevron-down-outline"
        aria-hidden="true"
      ></ion-icon>

    </button>


    @if (isAccountOpen()) {

      <div
        id="mail-account-panel"
        class="account-panel"
        [attr.aria-busy]="isLoggingOut()"
      >

        <div class="account-panel__header">

        <span class="account-panel__eyebrow">
          ACCOUNT
        </span>

          <strong>
            {{ userName() || 'Mail account' }}
          </strong>

          <small>
            {{ mailboxAddress() }}
          </small>

        </div>

        <div class="account-panel__actions">

          @if (!isLoggingOut()) {
            <a
              class="account-panel__item account-panel__item--settings"
              routerLink="/settings"
              (click)="isAccountOpen.set(false)"
            >
    <span>
      Settings
    </span>
            </a>
          }

          <button
            type="button"
            class="account-panel__item account-panel__item--logout"
            [disabled]="isLoggingOut()"
            (click)="logout()"
          >

            <ion-icon
              name="log-out-outline"
              aria-hidden="true"
            ></ion-icon>

            <span>
            {{ isLoggingOut() ? 'Logging out...' : 'Log out' }}
          </span>

          </button>

        </div>

        @if (logoutError()) {

          <p
            class="account-panel__error"
            role="alert"
          >
            {{ logoutError() }}
          </p>

        }

      </div>

    }

  </div>

</div>
