@if (selectedMessage()) {

  <app-mail-message-view
    [message]="selectedMessage()!"
    [isPreparingReplyAll]="isPreparingReplyAll()"
    (back)="closeMessage()"
    (archive)="archiveMessage($event)"
    (trash)="trashMessage($event)"
    (reply)="replyToMessage($event)"
    (replyAll)="replyAllToMessage($event)"
  ></app-mail-message-view>

} @else if (isMessageLoading()) {

  <section class="message-state">

    <div class="message-state__indicator"></div>

    <p>
      Opening message...
    </p>

  </section>

} @else if (messageError()) {

  <section class="message-state message-state--error">

    <span class="message-state__code">
      MESSAGE
    </span>

    <h2>
      Unable to open message.
    </h2>

    <p>
      The message could not be loaded from the mailbox.
    </p>

    <div class="message-state__actions">

      <button
        type="button"
        (click)="closeMessage()"
      >
        Back to inbox
      </button>

      <button
        type="button"
        class="message-state__retry"
        (click)="retryMessage()"
      >
        Try again
      </button>

    </div>

  </section>

} @else {

  @if (
    activeFolder() === 'inbox'
    &&
    pinnedMessages().length > 0
    ) {

    @if (
      activeFolder() === 'inbox'
      &&
      pinnedMessages().length > 0
      ) {

    <section class="pinned-section">


      <button
        type="button"
        class="pinned-section__header"
        (click)="togglePinnedSection()"
      >

    <span>
      🔖 Pinned
    </span>


        <span class="pinned-section__count">
      {{ pinnedMessages().length }}
    </span>


        <ion-icon
          class="pinned-section__arrow"
          [name]="
    pinnedExpanded()
      ? 'chevron-up-outline'
      : 'chevron-down-outline'
  "
        ></ion-icon>

      </button>



      @if (pinnedExpanded()) {


        <div class="pinned-section__body">


          @for (
            message of pinnedMessages();
            track message.id
            ) {


            <div
              class="pinned-item"
              (click)="openMessage(message)"
            >

              <div class="pinned-item__content">

                <strong>
                  {{ message.senderName }}
                </strong>

                <span>
              {{ message.subject }}
            </span>

              </div>



              <button
                type="button"
                class="pinned-item__remove"
                (click)="toggleMessagePin(message); $event.stopPropagation()"
              >
                Unpin
              </button>


            </div>


          }


        </div>


      }


    </section>
    }

  }

  <app-mail-message-list
    [title]="folderTitle()"
    [eyebrow]="folderEyebrow()"
    [toolbarLabel]="folderToolbarLabel()"
    [showPin]="activeFolder() === 'inbox'"
    [messages]="messages()"
    [searchQuery]="searchQuery()"
    [selectedMessageId]="selectedMessageId()"
    [isRefreshing]="isRefreshing()"
    (beforeOpen)="saveListScroll($event)"
    (messageSelect)="openMessage($event)"
    (starChange)="toggleMessageStar($event)"
    (pinChange)="toggleMessagePin($event)"
    (refresh)="refreshCurrentFolder()"
  ></app-mail-message-list>

}
