<ion-content
  [fullscreen]="true"
  class="mail-page"
>
  <app-mail-shell>

    <app-mail-sidebar
      mail-sidebar
      (compose)="openCompose()"
      (folderChange)="onFolderChange()"
    ></app-mail-sidebar>


    <app-mail-topbar
      mail-topbar
    ></app-mail-topbar>


    @if (isComposeOpen()) {

      <app-mail-compose
        mail-content
        [isSending]="isSending()"
        [sendStatus]="sendStatus()"
        [editDraft]="editDraft()"
        (discard)="closeCompose()"
        (draftSaved)="onDraftSaved()"
        (sendRequested)="sendMail($event)"
      ></app-mail-compose>

    } @else {

      <app-mail-inbox
        mail-content
        (draftEditRequested)="openDraft($event)"
      ></app-mail-inbox>

    }

  </app-mail-shell>
</ion-content>
