:host {
  display: block;

  width: 100%;
  height: 100%;
}

.mail-page {
  --background: #f3f1eb;
  --color: #111412;

  width: 100%;
  height: 100%;
}

.mail-page::part(scroll) {
  overflow: hidden;
}
